body {
    background-color: #ffe6ff;
    color: #702085;
    font-weight: 500;
}

.title {
   margin: 30px;
   text-align: center;
}

.aboutBTSImg {
    margin: auto;
    padding: 10px;
    width: 100%s;
    height: auto; 
    max-height: 500px; 
}

.membersTitle {
    margin-top: 50px;
    text-align: center;
}

.carousel {
    margin: 30px;
}

.aboutCarousel {
    background-color:  #990099;
    color: #ffe6ff;
    font-weight: 500;
    width: 80%;
    height: fit-content;
    max-height: 500px;
}

.carousel-inner{
    width:100%;  
    max-height: fit-content !important;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert();
}

.card-body {
    padding-left: 20px;
    padding-right: 20px;
}

.memberImg {
    padding: 20px;
    height: auto;
    margin: auto;
    max-width: 400px !important;
    max-height: 500px !important;
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 50px;
  overflow: hidden;
}