body {
    background-color: #702085;
    color: white;
}

.title {
   margin: 30px;
   text-align: center;
}

.gallery {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {
	width: 150px;
	height: 200px;
	transition: all 1s;
}

.gallery img:hover {
	transform: scale(1.1);
}

/* .firstEra {
    background-color: black;
    color: pink;
} */

/* .firstEra img {
    border: 5px solid pink;
} */
